@import url("https://use.typekit.net/usg7enf.css");

/* VARIABLES */

$esmeralda: #6BDB8A;
$botella: #0D403B;
$menta: #D3EEDA;
$gris-verde: #90A495;
$blanco-verde: #FBFFFC;
$destacado: #E5E83E;
$neue : neue-haas-unica, Arial, Helvetica, sans-serif;
$halyard : halyard-display , Arial, Helvetica, sans-serif;
$fuente-p: 14pt;
$transition-short: 0.2s;


/* UTILITIES VAR */

$mt-xs: 16px; .mt-xs{margin-top: $mt-xs;}
$mt-s: 32px; .mt-s{margin-top: $mt-s;}
$mt-m: 48px; .mt-m{margin-top: $mt-m;}
$mt-l: 64px; .mt-l{margin-top: $mt-l;}
$mt-xl: 104px; .mt-xl{margin-top: $mt-xl;}
$mt-xxl:148px; .mt-xxl{margin-top: $mt-xxl;}


$mb-xs: 16px; .mb-xs{margin-bottom: $mb-xs;}
$mb-s: 32px; .mb-s{margin-bottom: $mb-s;}
$mb-m: 48px; .mb-m{margin-bottom: $mb-m;}
$mb-l: 64px; .mb-l{margin-bottom: $mb-l;}
$mb-xl: 104px; .mb-xl{margin-bottom: $mb-xl;}
$mb-xxl:148px; .mb-xxl{margin-bottom: $mb-xxl;}

%margin-auto {
    margin-left: 20px;
    margin-right: 20px;
  } .margin-auto{
    @extend %margin-auto;
  }


.spacer-s{
    height: 2vh;
}

.spacer-m{
    height: 8vh;
}

.spacer-l{
    height: 15vh;
}

.spacer-xl{
    height: 20vh;
}

.spacer-xxl{
    height: 30vh;
}



//MIXINS RESPONSIVE

@mixin media2200px {
  @media only screen and (max-width: 2200px) {
    @content;
  }
}


@mixin media1730px {
  @media only screen and (max-width: 1730px) {
    @content;
  }
}

@mixin media1458px {
  @media only screen and (max-width: 1458px) {
    @content;
  }
}

@mixin media1390px {
  @media only screen and (max-width: 1390px) {
    @content;
  }
}

@mixin media1200px {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin media990px {
  @media only screen and (max-width: 990px) {
    @content;
  }
}

@mixin media800px {
  @media only screen and (max-width: 800px) {
    @content;
  }
}

@mixin media700px {
  @media only screen and (max-width: 700px) {
    @content;
  }
}

@mixin media600px {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @mixin media450px {
    @media only screen and (max-width: 450px) {
      @content;
    }
  }

  @mixin media390px {
    @media only screen and (max-width: 390px) {
      @content;
    }
  }

  @mixin media300px {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }
  
  




h1{
    color: $botella;
    text-align: center;
    font-family: $halyard;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.905%; 
}

h2{
  color: #0D403B;
  font-family: halyard-display, Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  margin-top: 38px;
  max-width: 100%;
}






